//color vars

$white: #ffffff;
$black: #000000;
$light: #aaaaaa; // light grey
$shade: #666666; // darker grey
$yellow: #FFCC33;
$dark-red: #990000;
$dark-blue: #0D88AD;
$green: #02BDAA;
$teal: #018578;
$aqua: #CCFFFF;

// font vars

$font1: 'Josefin Sans',
sans-serif;
$font2: 'Montserrat',
sans-serif;

// OSCE customization

body {
    border-bottom: 60px solid $dark-blue;
    font-family: $font2;
}

.d-header {
    background-color: $aqua;
}

.topic-list {
    thead {
        background-color: $yellow;

        tr {
            border-bottom: 0;

            th {
                background: transparent;
            }
        }
    }
}

#main-outlet {
    overflow-x: hidden;
}

.banner {
    background-color: $dark-blue;
    margin: -30px auto 30px;
    padding: 50px 0;
    text-align: center;
    position: relative;
    font-family: $font1;
    font-weight: 700;

    &:after {
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        right: 100%;
        background-color: $dark-blue;
        top: 0;
    }

    &:before {
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        left: 100%;
        background-color: $dark-blue;
        top: 0;
    }
}

h1 {
    font-family: $font1;
    font-weight: 700;
}